<%- include ("./partials/header"); -%>
<style>
    body{
        color: #1a202c;
        background-color: #e2e8f0;
    }
</style>
</head>
<body>
<%- include ("./partials/navbar"); -%>

<div class="container pt-5 mt-5">
    <h2 class="pt-5">Susține una din asociațiile noastre:</h2>
    <div class="card w-75 my-5">
        <div class="card-body">
            <h5 class="card-title">Asociatia "Balto"</h5>
            <p class="card-text">
                RON: RO77BTRLRONCRT0546825101<br>
                EUR: RO27BTRLEURCRT0546825101<br>
                USD: RO31BTRLUSDCRT0546825101<br>
                Revolut: +40741256757<br>
                BTPay: RO77BTRLRONCRT0546825101<br>
                PayPal: balto.org@gmail.com<br>
                <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick">PayPal easy link</a>
            </p>
        </div>
    </div>
    <div class="card w-75">
        <div class="card-body">
            <h5 class="card-title">Asociatia "Casa Lui Patrocle"</h5>
            <p class="card-text">
                RON:  RO22BRDE340SV63867373400<br>
                EURO: RO18BRDE340SV63867453400<br>
                Revolut: 0752 818 517<br>
                <a href="https://casaluipatrocle.ro/donatie/index.html?fbclid=IwAR0CmieEi24uQvvf5fBnDzEdDqfSO2bSm9y50BE8Gd70OYe0uJgULF-S6BU">PayPal</a>
            </p>
        </div>
    </div>
</div>

<%- include ("./partials/footer"); -%>